@import "variables";
html {
  // overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  // overflow: hidden;
}
.header .wrap_header{
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 44px;
}
.top-menu {
  position: relative;
  min-height: 78px;
  padding-top: 0;
  .burger-menu {
    position: absolute;
    z-index: 100;
  }
}
.call {
  position: relative;
  .call-button {
    position: absolute;
    z-index: 100;
    right: 0;
  }
}
.top-menu .right_item {
    padding-left: 83px;
}
.header.choice {
  background: url('../img/choice.jpg');
  background-size: cover;
  position: relative;
  .wrap_header {
    // position: relative;
    .header-bottom {
      height: 80%;
      position: relative;
    }
  }
}
.choice-name {
  font-size: 48px;
  text-transform: uppercase;
  position: absolute;
  top: -80px;
  left: 100px;
  z-index: 3;
}
.timeline_ryb {
    width: 30vw;
    max-width: 385px;
    max-height: 78px;
}
.timeline_ryb svg{width: 100%; max-height: 100%;}
.choice-name-kom {
  font-size: 30px;
  max-width: 455px;
}
@media only screen and (max-width:1024px) and (min-width:768px){
.choice-name{
  left: 38px;
}
.timeline_ryb {
    width: 22vw;
    max-width: 200px;
}

.choice-name-kom{
  max-width: 18vw!important;
  font-size: 3vw!important;
}
}

// new styles for update 06/04/2017


.choice-name1 {top: -45px; left: 230px; font-size: 14px}
.choice-name1 img {vertical-align: middle; margin-bottom: 10px;}
.choice-f-item {
  font-size: 14px; display: inline-block; vertical-align: middle; margin-right: 30px;
}
.choice-f-item:last-child{
  display: none;

}
.filter-appart {position: absolute; left: 80px; top: 50px;}
.filter-appart li a{color: white; text-decoration: none; font-size: 20px; text-transform: uppercase; line-height: 50px;}

// end of new styles

.call-phone {
  z-index: 4;
}
.link-logo {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.choice-item {
  position: absolute;
  z-index: 5;
  width: 150px;
  display: block;
  // cursor: pointer;
  text-align: center;
  font-size: 16px;
  pointer-events: none;
  h3, .newh3 {
    font-size: 36px;
    font-family: $pdf;
  }
}
.choice-svg {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  transform: translate(-50%,-50%);
  svg {
    width: 100%;
    height: 100%;
    .st0, .st2, .st1 {
      opacity: 0.3;
      fill: #0035aa;
      cursor: pointer;
    }
    .st0:hover, .st2:hover, .st1:hover {
      opacity: 0.8;
    }
  }
}
.choice--1 {
  left: 80vw;
  top: 33vh;
}

.choice--3 {
  top: 40vh;
  left: 67vw;
}

.choice--5 {
  top: 59vh;
  left: 45vw;
}

.choice--7 {
  top: 17vh;
  left: 65vw;
}

.choice--9 {
  top: 24vh;
  left: 50vw;
}

.choice--11 {
  top: 44vh;
  left: 30vw;
}

.choice--13 {
  top: 11vh;
  left: 49vw;
}

.choice--15 {
  top: 17vh;
  left: 34vw;
}

.choice--17 {
  top: 28vh;
  left: 14vw;
}
.choice-item-text {
  font-family: $pdf-light;
  opacity: 1;
  transition-delay: 0.05s;
  transition-duration: 0.35s;
}
.choice-item-date{
  font-family: $pdf-medium;
}
.choice-item:hover + p.choice-item-text{
  opacity: 1;
}
body#class_beg{
  overflow: auto;
}
#class_beg.header.choice1{
  overflow: auto;
}
body.boby-plans #class_beg.header.choice1 {
  min-height: 100%;
  height: auto;
  position: static;
  overflow: auto;
  // min-height: 740px;
}
body.boby-plans #class_beg.header.choice1 .header-bottom {
  min-height: 80%;
  height: auto;
  padding-top: 50px;
}
body.boby-plans #class_beg.header.choice1 .header-bottom .ch2-center {
  /*min-height: 550px;*/
  height: auto;
}
body.boby-plans #class_beg.header.choice1 .header-bottom .ch2-center .ch-table {
  min-height: 120px;
  height: auto;
  max-width: 600px;
}
body.boby-plans .footer, body.boby-plans footer {
  margin-top: -44px;
}
@media only screen and (max-width:1024px)  and (min-width:769px){
  body.boby-plans .footer, body.boby-plans footer {
    margin-top: 0px;
    position: static;
  }
  body.boby-plans #class_beg.header.choice1 .header-bottom .ch2-center .ch-table {
    max-width: 400px;
}
}

@media only screen and (min-width:1024px)  and (max-width:1200px){
  body.boby-plans #class_beg.header.choice1 .header-bottom .ch2-center .ch-table {
    min-height: 120px;
    height: auto;
    max-width: 460px;
}

.ch2-center {
    width: 630px;
  }
}
@media only screen and (max-width:768px){
  body.boby-plans #class_beg.header.choice1 .header-bottom .ch2-center .ch-table {
    max-width: 270px;}
}



.header.choice1 {
  background: url('../img/app-bg.jpg');
  background-size: cover;
  .header-bottom{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    align-items: inherit;
    -webkit-align-items: inherit;
    position: relative;
    padding-bottom: 0;
    min-height: 80%;
    height: auto;
    padding-top: 35px;
  }
.compass {
  position: absolute;
  top: -75px;
  left: 300px;
  img {
    float: left;
    margin-right: 20px;
  }
  span {
    font-size: 24px;
    font-family: $pdf-thin;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 34px;
  }
}

}
.ch-left {
  width: 180px;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  .ch-house {
    a {
      font-size: 20px;
      font-family: $pdf-thin;
      margin-bottom: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      position: relative;
      text-decoration: none;
      color: white;
    }
    a:before {
      content: '';
      position: absolute;
      top:24px;
      left: 0;
      background: url(../img/arrow-large.png);
      height: 27px;
      width:100%;
    }
  }
  .ch-level {
    text-align: center;
    font-size: 36px;
    font-family: $pdf-thin;
    position: relative;
    margin: 80px 0;
    span.num-floor {
      font-size: 150px;
      font-family: $pdf-medium;
      padding-left: 16px;
    }
    a.down {
    position: absolute;
    left: 28px;
    bottom: -36px;
    }
    a.up {
    position: absolute;
    left: 28px;
    top: -24px
    }
  }
}
.ch-center {
  width: 560px;
  // width: 900px;
  // height: 100%;
  max-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  .ch-maplevel {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
  }

  table {
    tbody {
      display: block;
      height: 600px;
      width: 100%;
      overflow: hidden;
      overflow-y: auto;
      }
    th, td, tr {
      border: 1px solid white;
      text-align: center;
      font-family: $pdf-light;
      a {
        color: white;
      }
    }
    th {
      font-family: $pdf-bold;
      background-color: #0032aa;
      line-height: 32px;
      padding: 0 15px;
      border: 1px solid #0032aa;
    }
    tr:nth-child(2n){
      background-color: rgba(255,255,255,0.3);
    }
  }
  svg {
    min-width: 100%;
    max-height: 100%;
    .a{fill:#ddd;}.b{fill:#bfbfbf;}.c{fill:#fff;}.d{fill:#fff;stroke-linejoin:round;stroke-width:0.1;stroke:#fff;}.e{fill:#fff;stroke-linejoin:round;stroke-width:0.5;stroke:#fff;}.f{fill:none;stroke-linejoin:round;stroke-width:0.5;stroke:#fff;}.g{fill:none;stroke-linejoin:round;stroke-width:0.1;stroke:#fff;}
      .st0{fill:#DDDDDD;  opacity: 0.6; transition: 0.35s}
      .st1{fill:#BFBFBF;  opacity: 0.6; transition: 0.35s}
      .st2{fill:#FFFFFF;}
      .st3{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.1417;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      .st4{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:5.000000e-002;stroke-miterlimit:10;}
      .st5{fill:none;stroke:#FFFFFF;stroke-width:5.000000e-002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1.6525,0.6382;}
      .st6{fill:none;stroke:#FFFFFF;stroke-width:5.000000e-002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      .st7{fill:none;stroke:#FFFFFF;stroke-width:5.000000e-002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:0.5855,0.1757;}
      .st8{fill:none;stroke:#FFFFFF;stroke-width:5.000000e-002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1.1711,0.5855;}
      .st9{fill:none;stroke:#FFFFFF;stroke-width:0.1417;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

      .st0:hover,.st0.kv3:hover,
      .st0.kv7:hover,.st0.kv1:hover,
      .st1:hover,.st1.kv2:hover,
      .st1.kv4:hover,.st1.kv6:hover,
       rect.st1.kv6:hover,
      .kv-hover {
        fill:#0035aa!important;
        cursor: pointer;
        opacity: 1;
      }
      rect.st1.kv6:hover+.st1.kv6 {
        fill:#0035aa;
        opacity: 0.7;
      }
      .st1.kv6:hover+rect.st1.kv6 {
        fill:#0035aa;
        opacity: 1;
      }
      .st1.kv6::before {
        position: absolute;
        content: '555';
        width: 100%;
        height: 100%;
      }
  }
}

#appInfo{
  position: absolute;
  min-width: 215px;
  height: 150px;
  left: 0px;
  top: 0px;
  z-index: 10;
  background-color: rgba(0,53,170,.85);
}
#appInfo p{
  color: white;
  font-family: $pdf-bold;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.4px;
}
#appInfo span.info_value{
  font-family:$pdf-light;
}
.wrap_appInfo{
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  position: relative;
}
.wrap_appInfo .info_round{
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  img{
    max-width: 100%;
    height: 100%;
  }
}



.ch-maplevel svg a.op_ajax{
  display: block;
}
.drop {
  float: left;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid white;
  border-radius: 0 100% 100% 100%;
  transform: rotateZ(315deg);
  -webkit-transform: rotateZ(315deg);
  position: absolute;
  transition: 0.4s;
  cursor: pointer;
}
.drop:hover, .drop-hover
 {
  background-color: #0035aa!important;
  border: 1px solid #0035aa!important;
}
.drops {
  width: 1px;
  height: 520px;
  position: relative;
}
.drop-text {
  width: 50px;
  text-align: center;
  text-align: -webkit-center;
  position: absolute;
  top:13px;
  font-size:18px;
  transform: rotate(45deg);
  color: #fff;
}
// удалены позиции дропов в файл _drops_for_choice.clas_css 16/11 Аня

.ch-right{
  width: 220px;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  text-align: center;
}
.ch-home {
  font-size: 42px;
}
.ch-sec {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  padding: 64px 0;
  pointer-events: none;
  .ch-sec-num {
    font-size: 72px;
  }
}
.ch-imgsec {
  font-size: 18px;
  text-transform: uppercase;
  height: 180px;
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.ch2-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  width: 760px;
  height: 550px;

}
.appart-plan {
  width: 620px;
  height: 430px;
  padding-bottom: 20px;
  margin-left: 50px;
  position: relative;
  .st0,.st1{
    cursor:pointer;
  }
  .appart-name {
    position: absolute;
    left: 180px;
    top: -40px;
    font-size: 36px;
    text-transform: uppercase;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
}
.ch-center-bot {
display: flex;
flex-direction: row;
justify-content: space-between;
display: -webkit-flex;
-webkit-flex-direction: row;
-webkit-justify-content: space-between;
position: relative;
.ch-sec {
  position: absolute;
  top: -95px;
  right: 0px;
}
}
.ch-tab-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  width: 184px;
  text-align: center;
}
.ch-link {
  margin-bottom: 12px;
  // margin-left: 10px;
  text-align: right;
  text-align: -webkit-right;
}
.ch-link a{
  display: block;
  // line-height: 50px;
  padding: 18px;
  border: 1px solid #003593;
  text-align: center;
  color: white;
  cursor: pointer;
  background: #0035AA;
  transition: 0.35s;
  // width: 240px;
  letter-spacing: 3px;
  font-size: 14px;
  margin-left: 13px;
  // text-shadow: 1px 1px 3px #666, -1px -1px 3px #FFF, 1px 1px #666, -1px -1px #FFF;
}
.ch-link a:hover {
  background: #00277A;
  // text-shadow: -1px -1px #666, 1px 1px #FFF;;
}
.ch-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;
  -webkit-align-content: center;
  font-size: 14px;
  height: 120px;
  position: relative;
  font-family: $pdf-medium;
  border-top: 1px solid white;
  padding-top: 0px;
  margin-bottom: 12px;
  margin-left: 12px;
  h4 {
    position: absolute;
    top: -25px;
    left: 50px;
  }
  .table-item3  {
    border-left: 1px solid white;
  }
  .table-item4 {
    border-right: 1px solid white;
  }
.table-item1,.table-item3,.table-item5 {
  text-align: right;
  padding-right: 5px;
  width: 118px;
}
.table-item2,.table-item4,.table-item6 {
  text-align: left;
  padding-left: 10px;
  width: 80px;

}
li {
  font-family: $pdf-thin;
  list-style: none;
  line-height: 20px;
}

}
.ch-plan {
  height: 380px;
  width: 100%;
}
.ch2-right{
  width: 258px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  text-align: center;
}
.ch-print-save {
  margin-bottom: 20px;
}
a.save, a.print {
  display: block;
  color: white;
  font-size: 17px;
  font-family: $pdf-light;
  margin-top: 12px;
  cursor: pointer;
  white-space: nowrap;
}
.ch-appart {
  font-size: 18px;
  text-transform: uppercase;
  // height: 250px;

  svg .st0{
   fill: #DDDDDD;
   opacity: 0.6;
   transition: 0.35s;
 }
    svg .st1 {
  fill: #BFBFBF;
  opacity: 0.6;
  transition: 0.35s;
  }
  svg .st0:hover,
  svg .st1:hover {
   fill:#0035aa;
   cursor: pointer;
   opacity: 1;
 }
  svg .st-on{
  fill: #0035AA;
  }
}
.ch-sect {
  font-size: 18px;
  text-transform: uppercase;
  height: 180px;
  svg {
    height: 100%;
  }
}
.ch2-right .ch-appart>div:first-of-type{
  width: 100%;
  max-width: 100%;
  margin-top: 14px;
  height: 220px;
}
.drop2,.drop2-1{
  float: left;
  position: absolute;
}
.drop2-1{
  float: left;
  position: absolute;
  transform: rotate(270deg);
  width: 125px;
}
.drop3{
  float: left;
  margin-left: 60px;
  width: 130px;
}
.drop3 span,.drop3-1 span{font-size:12px; font-family: "PFDinTextUniversal-Thin"; }
.drop3-1{
  float: left;
  margin-left:70px;
  transform: rotate(90deg);
  }

@media (max-width: 1440px) {
  .header-bottom {
    padding-bottom: 2vh;
  }
  .ch-left .ch-level span.num-floor {
      font-size: 100px;
      padding-left: 28px;
  }
  .ch-house {
    margin-bottom: 20px;
  }
  .ch-center {
    align-items: flex-end;
    -webkit-align-items: flex-end;

    table {
      tbody {
        height: 460px;
      }
    }
  }
  .ch2-center {
    width: 760px;
    height: 550px;
  }
  .drops {
    height: 520px;
  }
  .ch-left .ch-level {
    margin: 50px 0;
}
@media only screen and (max-width: 1200px) {
  .appartment_full_data {
    display: none;
  }
}
.appart-plan {
  height: 350px;
}
.ch-print-save {
  margin-bottom: 16px;
}
}
.ch-sec {
  padding: 64px 0 0;
}


// #class_beg {
//   min-height: 680px;
//   overflow: hidden;
// }
// 10/11 Аня

@media only screen and (max-height: 520px) {
  .filter-appart {
    left: 285px;
    top: -45px;
  }
}

@media only screen and (max-height:660px) {
html {
  overflow: auto;
}
  body {
    height: auto;
    min-height: 100%;
  }
}

@media only screen and (max-height: 700px) {
  .filter-appart li a {
      line-height: 25px;
  }
    #class_beg footer {
    position: static;
  }
}

@import '_choicetablet';
@import "_choicemobile";
